:root {
  --shadow1: 1px solid rgba(0, 0, 0, 0.2);
  --shadow2: 2px solid rgba(0, 0, 0, 0.2);
}

body { background: antiquewhite;}

.ear {
  display: inline-block;
  background: #ff8100;
  height: 100px;
  width: 100px;
  border-radius: 50%;
	box-shadow: -3px -5px 0 rgba(31, 30, 30, 0.98);
}

.right-ear {
  margin-left: 10.5em;
	transform: rotate(60deg);
}

.head {
  background: #ff8100;
  border: var(--shadow2);
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.pupil {
  background: black;
  height: 30px;
  width: 30px;
  border-radius: 80%;
}

.right {
  margin-top: 7em;
  margin-left: calc(9em + 120px); */
	margin-left: 14em;
	margin-bottom: .3em;
}

.left { margin: -2em 0 0 5em; }

.snout {
	margin: 5px;
	margin-top: -1.9em;
}

.nose {
  background: rgba(31, 30, 30, 0.98);
  height: 30px;
  width: 60px;
  border: var(--shadow2);
  border-radius: 30%;
	margin-left: 9em;
}

.mouth{
	position: relative;
  background: hotpink;
  height: 1em;
  width: 3em;
  border-radius: 50%;
	margin-left: 4em;
	margin-top: -.8em;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.left-snout {
	background: white;
  border: var(--shadow1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 4em;
  width: 6em;
  border-radius: 50%;
	margin-left: 5em;
	margin-top: 1em;
}

.right-snout {
	background: white;
  border: var(--shadow1);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 4em;
  width: 6em;
  border-radius: 50%;
	margin-left: 5em;
	margin-top: -3.1em;
}

.whisker {
	height: 10px;
	width: 10px;
	background-color: black;
	border-radius: 50%;
	margin-left: 2em;
}

.top-left-whisker {
	margin-top: 1.5em;
}

.top-right-whisker {
	margin-left: 3em
}

.triangle {
	position: fixed;
	height: 0;
	width: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 70px solid black;
	margin-left: 9.3em;
}
