:root {
  --shadow1: 1px solid rgba(0, 0, 0, 0.2);
  --shadow2: 2px solid rgba(0, 0, 0, 0.2);
}

body { background: yellow;}

.ear {
  display: inline-block;
  background: brown;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.right-ear {
  margin-left: 10.5em;
}

.head {
  background: brown;
  border: var(--shadow2);
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.pupil{
  background: black;
  height: 30px;
  width: 30px;
  border-radius: 80%;
}

.right {
  margin-top: 9em;
  margin-left: calc(9em + 120px);
}

.left { margin: -2em 0 0 5em; }

.snout {
  background: tan;
  border: var(--shadow1);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 6em;
  width: 6em;
  border-radius: 50%;
  margin: -1em 0 0 8em;
}

.nose {
  background: rgba(31, 30, 30, 0.98);
  height: 30px;
  width: 60px;
  border: var(--shadow2);
  border-radius: 80%;
  margin: 1em 0 0 1.3em;
}

.mouth{
  background: rgba(31, 30, 30, 1);
  height: 8px;
  width: 90px;
  margin: -3px 0 0 10px;
  border-radius: 2px;
}
