body { background: yellow;}

.head {
  background: brown;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.right-eye {
  background: white;
  height: 60px;
  width: 60px;
  border-radius: 80%;
  border: 2px solid black;
  margin-top: 5em;
  margin-left: calc(9em + 100px)
}

.pupil{
  background: black;
  height: 30px;
  width: 30px;
  border-radius: 80%;
}

.right {
  margin-top: 9em;
  margin-left: calc(9em + 120px);
}

.left { margin: -2em 0 0 5em; }

.snout {
  background: tan;
  border: 1px solid black;
  height: 6em;
  width: 6em;
  border-radius: 50%;
  margin: -1em 0 0 8em;
}

.nose{
  background: black;
  height: 30px;
  width: 60px;
  border-radius: 80%;
  margin-top: 1em;
  margin-left: 1.3em;
}

.mouth{
  background: black;
  height: 8px;
  width: 90px;
  margin: -3px 0 0 10px;
  border-radius: 2px;
}
